h1 {
    color: green;
    font-size: 40px;
    text-align: center;
    background-color: dimgrey;
}
.post-1{
    background-color: aqua;
    padding: 30px;
    border-radius: 10px;   
}
.post-2{
    background-color: rgb(161, 130, 93);
}
h3{
font-size: 28px;
}

img{
    width: 500px;
    height: 250px;
}
a{
    font-size: 22px;
}
.post-1 p{
    text-align: center;
}
